{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jwplayer/dist/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/jwplayer/dist/jwplayer.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="icono.min.css">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <title>Spotify - Clone</title>
</head>
<body>
<style>
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(40,40,40,255);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
    margin-left: -120px;
}

.dropdown-content a {
    color: #e4e4e4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: rgba(62,62,62,255);}

.show {display: block;}

.logout-menu-btn{
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.logout-menu-btn:hover{
    color: rgb(43, 211, 52);
}
</style>

{% block sidebar %}
{% include 'spotify/sidebar.html' %}
{% endblock %}

{% block privacy %}
{% endblock %}

<!-- Main Section -->
<div class="main-section">
    <div class="top-nav">
        <div class="prev-btn">
            <button><a href="{% url 'spotify:home' %}"><i class="fa-solid fa-chevron-left"></a></i></button>
            <button><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        {% if request.user.is_authenticated %}
        <div class="dropdown">
            <img src="{{request.user.avatar.url}}" onclick="dropdownFunc()" class="dropbtn" alt="" style="width: 35px; height: 35px; border-radius: 50%;">
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'spotify:user-profile' %}">Профіль</a>
                <form method="post" action="{% url 'spotify:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-menu-btn">Вийти</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="login-btn">
            <button class="sign-up">Зареєструватися</button>
            <button class="login">Увійти</button>
        </div>
        {% endif %}
        {% block search %}
        {% endblock %}
    </div>
    {% block content %}
    {% endblock %}

{% block footer %}
<div class="footer-section">
    <div class="footer">
        <div class="footer-links">
            <div class="footer-column">
                <div>Company</div>
                <ul class="col-links">
                    <li><a href="">About</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Перемога 15 травня!</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <div>Company</div>
                <ul class="col-links">
                    <li><a href="">For Artists</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Advertising</a></li>
                    <li><a href="">Investors</a></li>
                    <li><a href="">Vendors</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <div>Company</div>
                <ul class="col-links">
                    <li><a href="">Support</a></li>
                    <li><a href="">Free Mobile App</a></li>
                
                </ul>
            </div>
        </div>

        <div class="social-links">
            <div>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
    </div>
</div>


<hr>

<div>
    <p class="copyright">&copy; 2024 Spotify AB</p>
</div>
{% endblock %}

</div>


{% include 'spotify/custom_controls.html' %}



<script>
// sidebar 
$(document).ready(function() {
    $.ajax({
        url: "{% url 'spotify:sidebar' %}",
        success: function(data) {
            $("#sidebar-content").html(data);
        }
    });
});
</script>
<script>
    // player
    const audioPlayer = document.querySelector(".audio-player");
    var trackNumbers = document.querySelectorAll(".track-number");
    var currentTrack = 0;
    var audio;

    function playTrack(trackNumber) {
        var audioUrl = trackNumber.dataset.audio;
        audio = new Audio(audioUrl);


        audio.addEventListener("loadeddata", () => {
            audioPlayer.querySelector(".time .length").textContent = getTimeCodeFromNum(audio.duration);
            audio.volume = 0.75;
            audio.play();
            audio.addEventListener("ended", () => {
                currentTrack++;
                if (currentTrack < trackNumbers.length) {
                    playTrack(trackNumbers[currentTrack]);
                } else {
                    currentTrack = 0;
                }
            });
        }, false);

        const timeline = audioPlayer.querySelector(".timeline");
        timeline.addEventListener("click", e => {
            const timelineWidth = window.getComputedStyle(timeline).width;
            const timeToSeek = e.offsetX / parseInt(timelineWidth) * audio.duration;
            audio.currentTime = timeToSeek;
        }, false);

        const volumeSlider = audioPlayer.querySelector(".controls .volume-slider");
        volumeSlider.addEventListener('click', e => {
            console.log('adadda')
            const sliderWidth = window.getComputedStyle(volumeSlider).width;
            const newVolume = e.offsetX / parseInt(sliderWidth);
            audio.volume = newVolume;
            audioPlayer.querySelector(".controls .volume-percentage").style.width = newVolume * 100 + '%';
        }, false);

        setInterval(() => {
            const progressBar = audioPlayer.querySelector(".progress");
            progressBar.style.width = audio.currentTime / audio.duration * 100 + "%";
            audioPlayer.querySelector(".time .current").textContent = getTimeCodeFromNum(audio.currentTime);
        }, 500);

        const playBtn = audioPlayer.querySelector(".controls .toggle-play");
        playBtn.addEventListener("click", () => {
            if (audio.paused) {
                playBtn.classList.remove("play");
                playBtn.classList.add("pause");
                audio.play();
            } else {
                playBtn.classList.remove("pause");
                playBtn.classList.add("play");
                audio.pause();
            }
        }, false);

        audioPlayer.querySelector(".volume-button").addEventListener("click", () => {
            const volumeEl = audioPlayer.querySelector(".volume-container .volume");
            audio.muted = !audio.muted;
            if (audio.muted) {
                volumeEl.classList.remove("icono-volumeMedium");
                volumeEl.classList.add("icono-volumeMute");
            } else {
                volumeEl.classList.add("icono-volumeMedium");
                volumeEl.classList.remove("icono-volumeMute");
            }
        });
    }

    const playBtn = audioPlayer.querySelector(".controls .toggle-play");
    trackNumbers.forEach(trackNumber => {
    trackNumber.addEventListener("click", () => {
        currentTrack = Array.from(trackNumbers).indexOf(trackNumber);
        const audioTitle = trackNumber.dataset.title;
        if (audio && !audio.paused) {
            audio.pause();
        }
        document.getElementById("controls-song-name").innerHTML = audioTitle; //set song name for player
        playBtn.classList.remove("play"); 
        playBtn.classList.add("pause"); 
        playTrack(trackNumber);

    });
});
    function getTimeCodeFromNum(num) {
        let seconds = parseInt(num);
        let minutes = parseInt(seconds / 60);
        seconds -= minutes * 60;
        const hours = parseInt(minutes / 60);
        minutes -= hours * 60;

        if (hours === 0) return `${minutes}:${String(seconds % 60).padStart(2, 0)}`;
        return `${String(hours).padStart(2, 0)}:${minutes}:${String(seconds % 60).padStart(2, 0)}`;
    }
</script>
<script>
// dropdown for profile
function dropdownFunc() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        }
    }
    }
}
</script>
<script>
    //dropdown for songs
    var dropdowns = document.querySelectorAll('.dropdown-song');

dropdowns.forEach(function(dropdown) {
    dropdown.querySelector('.dropbtn-song').addEventListener('click', function(event) {
        event.stopPropagation(); 
        var dropdownContent = dropdown.querySelector('.dropdown-content-song');
        dropdownContent.classList.toggle('show');
    });
});

window.addEventListener('click', function(event) {
    dropdowns.forEach(function(dropdown) {
        var dropdownContent = dropdown.querySelector('.dropdown-content-song');
        if (dropdownContent.classList.contains('show') && !dropdown.contains(event.target)) {
            dropdownContent.classList.remove('show');
        }
    });
});
</script>
<script>
    // song display(dropdown)
document.addEventListener('DOMContentLoaded', function () {
    var addToPlaylistLinks = document.querySelectorAll('.add-to-playlist');

    addToPlaylistLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            var songId = link.dataset.song;
            var playlistId = link.dataset.playlist;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/add-song-to-playlist/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log('Song added to playlist successfully');
                    } else {
                        console.error('Error adding song to playlist');
                    }
                }
            };
            xhr.send(JSON.stringify({ songId: songId, playlistId: playlistId }));
        });
    });
});
</script>

</body>
</html>
